{% extends 'base.html' %}
{% load static %}

{% block titulo %}listar{% endblock titulo%}

{% block contenido %}
    

    <h2>Detalle</h2>

    
    <p>{{noticia.titulo}}</p>

    <img src="{{noticia.imagen.url}}" width= 500px class="categoria-prim-p">

    <p>{{noticia.cuerpo}}</p>
        

   <form method="POST" action="{% url 'noticias:comentar' %}">{% csrf_token %}
			<textarea name="comentario" maxlength="1500"> </textarea>
			<input type="text" name="id_noticia" value="{{noticia.pk}}" hidden=""> 
			<input type="submit" value="GUARDAR">
		</form>
		<br><br><br>
		<h3>COMENTARIOS</h3>
		{% for com in comentarios %}
		{% if user == com.usuario %}
			<a href="">borrar</a>
		{% endif %}
		<strong>FECHA:{{com.fecha}}</strong><br>
		<strong>USUARIO:{{com.usuario}}</strong><br>
		<p>{{com.texto}}</p>
		{% endfor %}
		<a href="{% url 'noticias:listar' %}">VOLVER</a>

{% endblock contenido %}