{% extends 'base.html' %}
{% load static %}

{% block titulo %}listar{% endblock titulo%}

{% block contenido %}
    

    <h2>Detalle</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos ipsam nulla, neque necessitatibus porro quibusdam unde ipsa veritatis. Consequuntur voluptates, maxime magnam est facere tempora corporis ad voluptatibus dicta iure! ipsum dolor sit amet, consectetur adipisicing elit. </p>

    {% for noti in noticia %}
     
    {% endfor %}

{% endblock contenido %}