{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Asociacion juntos en accion</title>

    <script src="{% static 'https://kit.fontawesome.com/41bcea2ae3.js' %}" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

</head>
<body>

    <!--Header - menu-->
    <header>

       <div class="header-content">

            <img src="/blog/static/img/AsociacionCivilJEA.jpg" alt="" class="logo-menu">

            <div class="logo">
                <h1>Asociacion <b>JUNTOS EN ACCION</b></h1>
            </div>

            <div class="menu" id="show-menu">

                <nav>
                    <ul>
                        <li><a href="{% url 'home' %}">INICIO</a></li>
                        <li><a href="#footer">CONTACTO</a></li>
                        <li><a href="{% url 'noticias:listar' %}">NOTICIAS</a></li>
                        {% if user.is_authenticated %}
                        <strong>Hola {{ user.username }}</strong>
                        <li><a href="{% url 'logout' %}">LOGOUT</a></li>
                        {% else %}
                        <li><a href="{% url 'login' %}">INGRESAR</a></li>
                        <li><a href="{% url 'usuarios:registro' %}">REGISTARSE</a></li>
                        {% endif %}

                    </ul>
                </nav>

            </div>

        </div>

    </header>

    <!--Portada-->

    <div class="container-all" id="move-content">

    
    <div class="container-cover">
        <div class="container-info-cover">
            <h1>¡Todo es posible!</h1>
            <h2>La inclusion laboral, un compromiso de todos.</h2>
        </div>
    </div>

    <div class="container-content">
        <article>

            <h1>Quienes somos</h1>

            <p>blablablablabla</p>

            <p>blablablablablabla</p>

                <h1>Nuestros objetivos</h1>

                <p>bla bla bla bla bla</p>

                <img src="{% static 'img/foto1.jpg' %}" alt="">

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos ipsam nulla, neque necessitatibus porro quibusdam unde ipsa veritatis. Consequuntur voluptates, maxime magnam est facere tempora corporis ad voluptatibus dicta iure! ipsum dolor sit amet, consectetur adipisicing elit. </p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae id nam incidunt quam corrupti, vitae numquam aliquid qui, sit libero hic nesciunt iste repudiandae, quae debitis, deleniti cupiditate. Iste, iusto? ipsum dolor sit amet, consectetur adipisicing elit. Quos ipsam nulla, neque necessitatibus porro quibusdam unde ipsa veritatis. Consequuntur voluptates, maxime magnam est facere tempora corporis ad voluptatibus dicta iure! ipsum dolor sit amet, consectetur adipisicing elit. </p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos ipsam nulla, neque necessitatibus porro quibusdam unde ipsa veritatis. Consequuntur voluptates, maxime magnam est facere tempora corporis ad voluptatibus dicta iure! ipsum dolor sit amet, consectetur adipisicing elit. </p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos ipsam nulla, neque necessitatibus porro quibusdam unde ipsa veritatis. Consequuntur voluptates, maxime magnam est facere tempora corporis ad voluptatibus dicta iure! ipsum dolor sit amet, consectetur adipisicing elit. </p>
        </article>

        <div class="container-aside">   

            <h2>Noticias</h2>

            <aside>
                <img src="{% static 'img/foto2.jpg' %}" alt="">
                <h2>Titulo del articulo</h2>
            </aside>

            <aside>
                <img src="{% static 'img/img1.jpg' %}" alt="">
                <h2>Titulo del articulo</h2>
                
            </aside>

            <aside>
                <img src="{% static 'img/img4.jpg' %}" alt="">
                <h2>Titulo del articulo</h2>
            </aside>

        </div>
    </div>

    <div class="container-footer" id="footer">  

        <footer>
         <div class="footer-Grande">
            <div class="footer-Contac">
                <h2>Contacto</h2>
                
                    <p>Email: uep143.sp.chaco@gmail.com</p>
               
                    <p>Telefono: 3644733177</p>
                
            </div>

            <div class="footer-Mid">
                <div class="logo-footer">
                    <img src="{% static 'img/AsociacionCivilJEA.png' %}" alt="">
                </div>
            

            <div class="redes-footer">
                <a href="https://www.facebook.com/profile.php?id=100064567493574"><i class="fab fa-facebook-f icon-redes-footer"></i></a>
                <a href="https://www.facebook.com/people/UEP-N%C2%BA-143-CENTRO-DE-FORMACION-INTEGRAL/100063611561590/"><i class="fab fa-google-plus-g icon-redes-footer"></i></a>
                <a href="#"><i class="fab fa-instagram icon-redes-footer"></i></a>
            </div>
            </div>

            <div class="footer-direccion">
                <h2>Direccion:</h2>

                <p>ACA IRIA UNA IMAgEN / EL MAPA DE GOOGLE</p>
            </div>
        </div>



            <hr>
            <h4>© 2020 MagtimusPro - Todos los Derechos Reservados</h4>

        </footer>

    </div>

</div>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>