{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>MI WEB| {% block titulo %} {% endblock titulo %}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>

<body class="contenedor">

	<header class="sticky-header__header">
		<div class="linea-header"> </div>
		<nav class="encabezado">	

			<div class="imgMenu">
				<img src="{% static 'img/AsociacionCivilJEA.jpg'%}" alt="JuntosEnAccion">
				<h2>Asociacion juntos en accion</h2>
			</div>

			<div class="aMenu">
			<a href="{% url 'home' %}">HOME</a>
			<a href="#footer">CONTACTO</a>
			<a href="{% url 'noticias:listar' %}">NOTICIAS</a>
			{% if user.is_authenticated %}
            <strong>Hola {{ user.username }}</strong>
            <a href="{% url 'logout' %}">LOGOUT</a>
        	{% else %}
            <a href="{% url 'login' %}">LOGIN</a>
            <a href="{% url 'usuarios:registro' %}">Registrar</a>
        	{% endif %}
			</div>
		</nav>
	
	</header>
	
	

	{% block contenido %}

	{% endblock contenido %}

	<footer class="footer" id="footer">

	</footer>
</body>
</html>